body {
  background: cornflowerblue;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
.box-nav {
  background: gold;
  padding: 10px;
  border-radius: 15px;
}
.box {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 15px;
  border-radius: 15px;
  color: white;
}

input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 15px;
  width: 50%;
}

button {
  background: slateblue;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 50%;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background: cornflowerblue;
  transition: 0.5s;
}
